.formCard {
    background-color: #4C5C68;
    padding: 20px 40px 8px 2px;
    /* padding-bottom: 30px; */
    border-radius: 5px;
    /* height: 85vh; */
    /* min-height: 450px; */
}

.flexRightRow {
    display: flex;
    justify-content: flex-end;
}

.formLabel {
    font-family: 'Strait', sans-serif;
    color: #A6A2A2;
    font-size: 18px;
}

.formHeader {
    /* font-family: "Verdana", Geneva, serif; */
    font-family: 'Merriweather';
    padding-left: 40px;
    font-size: 32px;
    color: #25223C;
}

.formHeaderCount {
    color: #690500;
    font-size: 30px;
    font-family: 'Special Elite';
}

.form-control{
    background-color:#2B4141;
    color: #C8C2AE;
}

.form-control:focus{
    background-color:#636B61;
    color: #E3D7FF;
}

.form-control-plaintext {
    color: #C8C2AE;
    font-family: 'Merriweather';
    font-size: 18px;
}

::-webkit-input-placeholder { /* Edge */
  color: rgba(185, 216, 194, 0.4) !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(185, 216, 194, 0.4) !important;
}

::placeholder {
  color: rgba(185, 216, 194, 0.4) !important;
}
