.movieCard {
    background-color: #4C5C68;
    padding-bottom: 30px;
    border-radius: 5px;
    height: 85vh;
    min-height: 450px;
}

.namePlate {
    padding: 20px 15px 5px 15px;
}

.Title {
    /* font-family: 'Fredericka the Great', cursive; */
    font-family: 'Odibee Sans', cursive;
    display: block;
    color: #BFC0C0;
    font-size: 50px;
}

.Subtitle {
    /* font-family: 'Fredericka the Great', cursive; */
    display: block;
    margin-top: -10px;
    font-family: 'Strait', sans-serif;
    color: #BFC0C0;
    font-size: 25px;
}

.movieInfo {
    line-height: 38px;
    text-align: right;
    font-family: 'Strait', sans-serif;
    color: #DCDCDD;
    font-size: 22px;
    margin: 0;
}

.movieValue {
    line-height: 38px;
    font-family: 'Merriweather';
    color: #DCDCDD;
    font-size: 16px;
    margin: 0;
}

.imdbLink {
    color: #f3E86E !important;
    line-height: inherit;
}

.watchedText {
    color: lightgreen;
}

.unwatchedText {
    color: #A21200;
}

.editBtn {
    font-size: 30px;
    margin: 38px 0 0 0;
    display: inline-block;
}

.watchDisp {
    font-size: 30px;
    font-family: 'Special Elite';
    margin: 35px 0 0 0;
    float: right;
    display: inline-block;
}

.flexCenterRow {
    display: flex;
    justify-content: center;
}

.flexCenterCol {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.posterHolder {
    height: 300px;
    width: 220px;
}

.noImage {
    font-family: 'Tomorrow', sans-serif;
    font-size: 25px;
    color: #2D3142;
}

.posterImage {
    position: absolute;
    height: 300px;
    width: 220px;
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -150px;
    border: gray 4px solid;
}
