.envelope3d {
    /* This will come into play later */
    perspective: 40px;
}

.inner3d {
    height: 250px;
    /* background-color: white; */
    transition: transform 0.25s, box-shadow 0.25s;
}

.inner3d a {
    height: inherit;
}

.suggestImg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -85px;
    margin-top: -125px;
    height: inherit;
    width: 170px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.suggestImg:hover {
    box-shadow: 0 0 18px 1px #66afbf;
}

.sug0,.sug1,.sug2 {
    transition: opacity 2s;
}

.sug1, .sug2 {
    opacity: 0;
    z-index: -1;
}
