body {
    padding-bottom: 40px;
}


.info {
    overflow: hidden;
    margin: 5px 32px 10px 32px;
}

.watchBanner{
    margin-right: 15px;
    float: left;
    font-family: 'Strait', sans-serif;
    color: #BFC0C0;
    font-size: 22px;
}

.filmStat {
    margin-right: 15px;
    float: left;
}

.timeStat{
    float:left;
}

.statPoint {
    font-family: 'Strait', sans-serif;
    color: #BFC0C0;
    font-size: 22px;
}

.statValue {
    font-family: 'Special Elite';
    color: #BC3908;
    font-size: 26px;
}

.seenFilter {
    margin-top: 3px;
}

.filterOption {
    margin-top: 3px;
}

#filterActual {
    margin-top: 3px;
    font-family: 'Strait', sans-serif;
    font-size: 18px;
}

.form-control{
    font-family: 'Strait', sans-serif;
    font-size: 18px;
    background-color:#1F1F1F;
    color: #C8C2AE;
}

.form-control:focus{
    background-color:#2F2F2F;
    color: #E3D7FF;
}

.addButton {
    margin-top: 3px;
    margin-bottom: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Strait', sans-serif;
    font-size: 18px;
}

.movie-node {
    padding: 10px 20px 10px 20px;
    background-color: #373F51;
    margin-bottom: 1px;
    position: relative;
}

.seen-node {
    border-left: 10px solid #17301CCF;
    border-right: 10px solid #17301CCF;
}

.unseen-node {
    border-left: 10px solid #632B30F2;
    border-right: 10px solid #632B30F2;
}

.movie-node:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.movie-node:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.movie-first-line {
    overflow: hidden;
    line-height: 40px;
}

.movie-first-line .movie-name {
    color: #D8DBE2;
    margin-right: 8px;
    font-size: 25px;
    font-family: "Verdana", Geneva, serif;
    float: left;
    line-height: inherit;
}

.movie-first-line .movie-year {
    color: #A9BCD0;
    margin-right: 8px;
    font-family: 'Merriweather';
    font-size: 15px;
    float: left;
    line-height: inherit;
}

.movie-first-line .movie-imdb-rating {
    font-size: 19px;
    font-family: 'Merriweather';
    color: #D7D5D57A;
    float: left;
    line-height: inherit;
}

.movie-first-line .movie-dir {
    font-size: 19px;
    font-family: 'Strait', sans-serif;
    /* font-family: 'Merriweather'; */
    color: #D7D5D57A;
    float: right;
    line-height: inherit;
}

.movie-first-line .movie-dir a:hover {
    text-decoration: underline;
}

.movie-second-line {
    overflow: hidden;
}

.movie-second-line .movie-cast {
    font-size: 16px;
    font-family: 'Strait', sans-serif;
    /* font-family: 'Merriweather'; */
    color: #96897B;
    float: left;
    line-height: inherit;
}

.movie-second-line .movie-genre {
    font-size: 16px;
    font-family: 'Strait', sans-serif;
    /* font-family: 'Merriweather'; */
    color: #999799;
    float: right;
    line-height: inherit;
}
